# cmake build folder
Build/

# qt config file
*.user

# vs code setting
.vscode

# thrid party library
ThirdParty/boost/
ThirdParty/Catch/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
